# TODO generate .clangd from .clangd.in template file
CompileFlags:
  Add:
    - -std=c++23 # Specify latest stable language version of the standard library
    - -D__cpp_concepts=202002L # Force required macro value: The <expected> header in GCC 14 uses C++20 concept syntax - By forcing 202002L, you satisfy GCC's header requirements while using Clang's parser, thus the <expected> header gets included entirely
    - --gcc-toolchain=/usr # Point to GCC 14 installation: include the root directory of all GCC components, e.g. /usr/bin/gcc (Binary); /usr/include/c++/14.2.1 (Headers); /usr/lib/gcc/x86_64-pc-linux-gnu/14.2.1 (Libraries)
    - -isystem/usr/include/c++/14.2.1 # Mark directory as the one containing system headers (no warnings)
    - -isystem/usr/include/c++/14.2.1/x86_64-pc-linux-gnu # Mark directory as the one containing system headers (no warnings)
  Remove:
    - -stdlib=libc++ # Explicitly disable LLVM's stdlib to prevent mixed header inclusion, avoid ABI mismatches by using the same implementation as GCC
